body{
    background-color: cornsilk;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.rectangle {
    width: 700px; 
    height: 500px;  
    /* Ajoutez d'autres styles CSS au besoin */
    box-shadow: 4px 4px 10px gray;
    background-image: url(https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
}
@media (max-width: 768px) {
    .rectangle {
        width: 300px; 
        height: 200px; 
    }
}
.erreur{
    color: black;
    font-size: 100px;
    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Pixelify Sans', cursive;
}
@media (max-width: 768px) {
    .erreur {
        font-size: 40px;
    }
}
.justificatif{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: -3%;
}
@media (max-width: 768px) {
    .justificatif {
        font-size: 15px;
        margin-bottom: -15%;
    }
}
.site{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
   
}
@media (max-width: 768px) {
    .site {
        font-size: 12px;
    }
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    background-image: url(../erreur404/img/png-transparent-sky-computer-pattern-cloud-purple-blue-cloud-removebg-preview\ \(1\).png);
    background-size: cover;
    margin-left: 40%;
    animation: rotateRightLeft 3s linear infinite;
    
}
@keyframes rotateRightLeft {
    0%, {
        transform: rotate(0deg); /* Position initiale (0 degrés) */
    }
    50% {
        transform: rotate(25deg); /* Rotation à droite (45 degrés) */
    }
     
    100% {
        transform: rotate(-25deg); /* Rotation à droite (45 degrés) */
    }
}
@media (max-width: 768px) {
    .container2 {
        width: 100px; 
        height: 100px; 
        margin-left: 35%;   
    }
}


